.body{
    width:100%;
    height:110vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .container1{
    width:90%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center; 
    justify-content: space-evenly;
  }
  .container1 .card{
    width:300px;
    overflow:hidden;
    text-align:center;
    border:2px solid rgb(116, 41, 56);
    border-radius:15px;
    box-shadow:0 0 7px rgba(0,0,0,0.8)
  }
  .container1 .card.product-image {
    width:230px;
  }
  
  .container1 .card.product-image img{
    width:100%;
    
  }
  .model-style{
    font-size:25px;
    font-style:normal;
  }