<p class="display-4 text-center m-5">Add-products</p>
<form  #ref ="ngForm" (ngSubmit)="onAddProduct(ref)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="productname" placeholder="productname" name="productname"
            ngModel>
        <label for="productname">productname</label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="model" placeholder="model" name="model" ngModel>
        <label for="model">model</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" id="price" placeholder="price" name="actualprice" ngModel>
        <label for="price">price </label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" min="0" max="100" class="form-control" id="discount" placeholder="discount in percentage" name="discount" ngModel>
        <label for="discount">Discount(in percentage)</label>
    </div>
    <div class="form-floating mb-3">
        <select name="category" id="categories" class="form-select" [(ngModel)]="categoryName">
           <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}

           </option>
          </select>
          <label for="categories">select category of the book</label>
         
    </div>
    <div class="form-floating mb-3">
        <textarea name="description" class="form-control" id="description" cols="30" rows="10" ngModel></textarea>
        <label for="description">About book</label>
    </div>

        
    <div class="form-floating mb-3">
        <input type="file" class="form-control" id="photo" name="photo" ngModel (change)="selectfile($event)" >
    </div>

    <button class="btn btn-success" type="submit">Add</button>
</form>
