 <div class="row  row-cols-1">
    <div class=" col-md-6 property1 display-4 "><q>
        A room without books is like a body without a soul...
    </q>
    </div>
    <div class="  col-md-6 property2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSytTNqdNse1oF6-RQX5075gF_LgU7EHCadTA&usqp=CAU" height="400px" width="400px" alt="">
    </div>
</div>  
<!-- <div class="body">
<div class="container">
    <div class="card">
        <div class="product-image mt-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image mt-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image mt-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image mt-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image mt-2 mb-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image mt-2">
            <img src="https://rukminim1.flixcart.com/image/416/416/ko0d6kw0/book/w/c/d/365-tales-from-indian-mythology-original-imag2jwc99juanjh.jpeg?q=70" height="200px" width="150px" alt="" >
        </div>
        <div class="product-info">
            <h4> samsung</h4>
            <h4>89,00</h4>
        </div>
        <div class="btn">
             <button type="button">add to cart</button>
        </div>
    </div>
</div>
</div> -->