<p class="display-4 text-center m-5">Signup here</p>
<form  #ref ="ngForm" (ngSubmit)="ref.form.valid && onRegister(ref)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username"
        ngModel required minlength="6"  maxlength="25" #refusername="ngModel" >
        <label for="username">Username</label>
        <p class="text-warning" *ngIf="(ref.submitted||refusername.touched)&&refusername.errors?.required">*
            Username is required
        </p>
        <p class="text-warning" *ngIf="(ref.submitted||refusername.touched)&&refusername.errors?.minlength">*
            Minlength should be 6
        </p>
        <p class="text-warning" *ngIf="(ref.submitted||refusername.touched)&&refusername.errors?.maxlength">*
            Maxlength should be 25
        </p>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel required #refpassword="ngModel">
        <label for="password">Password</label>
        <p class="text-warning" *ngIf="(ref.submitted||refpassword.touched)&&refpassword.errors?.required">*
            password is required
          </p>
          
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" ngModel required  #refemail="ngModel">
        <label for="email">Email </label>
        <p class="text-warning" *ngIf="(ref.submitted||refemail.touched)&&refemail.errors?.required">*
            email is required
          </p>

    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dob" placeholder="dateofbirth" name="dob" ngModel>
        <label for="dob">dob</label>
    </div>
    <div class="form-floating mb-3">
        <input type="file" class="form-control" id="photo" name="photo" ngModel required (change)="selectfile($event)" #reffile="ngModel">
        <p class="text-warning" *ngIf="(ref.submitted||reffile.touched)&&reffile.errors?.required">*
           * file must be choosen
          </p>
    </div>
    <button class="btn btn-success" type="submit">Signup</button>
</form>